/* Global Settings */
:root {
    --dark-color: #212529;
    --light-color: #fff;
    --blue-color: #007bff;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
    color: #212529;
    background-color: #ffff;
    line-height: 1.6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h3, h3 {
    font-size: 1.75rem;
}

p {
    margin-top: 0;
    margin-bottom: 1em 0;
}

.text-center {
    text-align: center !important;
}

.m-autho {
    margin: auto !important;
}

.flex {
    display: flex !important;
}

.text-primary {
    color: var(--blue-color);
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 3em !important;
}

.mb-3 {
    margin-bottom: 1em !important;
}

.mb-lg-0 {
    margin-bottom: 0!important;
}

.mb-lg-3 {
    margin-bottom: 1em!important;
}

.ml-autho,
.mx-autho {
    margin-left: auto!important;
}

.mr-autho,
.mx-autho {
    margin-right: auto!important;
}

.row {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

/* section first */
.col {
    position: relative;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

.section-first {
    padding-top: 7em;
    padding-bottom: 7em;
}

.section-first .icons-item {
    max-width: 20em;
    margin: 0 auto;
}

.section-first .icons-item .icons {
    height: 10em;
}

.section-first .icons-item .icons i {
    font-size: 6em;
    transition: transform 0.3s ease-in-out;
}

.section-first .icons-item:hover .icons i {
    transform: scale(1.2);
}

.op {
    font-size: 1.25em;
    font-weight: 300!important;
}

/* section second */ 
.gallery{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%
}
.left1 h2,
.left1 p, 
.right2 h2,
.right2 p,
.left3 h2,
.left3 p{
    color: #333;
    font-size: 1.5em;
    margin: 40px; 
    padding: 40px; 
}
.left1, .right2, .left3{
    height: 30em;
}
.right1{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-showcase-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.left2{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-showcase-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.right3{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-showcase-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* section third  */

.testimonials {
    padding-top: 7em;
    padding-bottom: 7em;
}

.font-weight-light {
    font-weight: 300!important;
}

.testimonials .testimonial-item img {
    max-width: 12em;
    box-shadow: 0 5px 5px 0 #adb5bd;
}

.rounded-circle {
    border-radius: 50% !important;
}

.icon-xl {
    font-size: 72px !important;
}



@media (min-width: 768px) and (max-width: 1024px) {
    /* section1 and aection3 */
    .section-first .icons-item .icons i {
        height: auto;
    }

    .row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        width: 100%;
        margin-bottom: 1em;
    }

    .section-first .icons-item {
        max-width: 90%;
    }

    /* section2 */
    .gallery{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
    }
    
    .right1{
        order: 1;
        height: 500px;
    }
    .left1{
        order: 2;
        height: 500px;
    }  
    .left2{
        order: 3;
        height: 500px;
    }
    .right2{
        order: 4;
        height: 500px;
    }    
    .right3{
        order: 5;
        height: 500px;
    }
    .left3{
        order: 6;
        height: 500px;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    /* scetion1 and section3 */
    .row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        width: 100%;
        margin-bottom: 1em;
    }

    .section-first .icons-item {
        max-width: 97%;
    }

    .section-first .icons-item .icons {
        height: auto;
    }

    /* section2 */
    .gallery{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
    }
    
    .right1{
        order: 1;
        height: 500px;
    }
    .left1{
        order: 2;
        height: 500px;
    }  
    .left2{
        order: 3;
        height: 500px;
    }
    .right2{
        order: 4;
        height: 500px;
    }    
    .right3{
        order: 5;
        height: 500px;
    }
    .left3{
        order: 6;
        height: 500px;
    }
}
