/* Global Settings */
:root {
    --dark-color: #212529;
    --light-color: #fff;
    --blue-color: #007bff;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5;
    color: #212529;
    background-color: #ffff;
    line-height: 1.6;
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.h5,
h5 {
    font-size: 1.25rem;
}

.h3, h3 {
    font-size: 1.75rem;
}

p {
    margin-top: 0;
    margin-bottom: 1em 0;
}

.text-center {
    text-align: center !important;
}

.m-autho {
    margin: auto !important;
}

.flex {
    display: flex !important;
}

.text-primary {
    color: var(--blue-color);
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-5 {
    margin-bottom: 3em !important;
}

.mb-3 {
    margin-bottom: 1em !important;
}

.mb-lg-0 {
    margin-bottom: 0!important;
}

.mb-lg-3 {
    margin-bottom: 1em!important;
}

.ml-autho,
.mx-autho {
    margin-left: auto!important;
}

.mr-autho,
.mx-autho {
    margin-right: auto!important;
}

.row {
    display: flex;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
}

/*Navigation*/
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.seytech,
.signin {
    display: inline-block;
}

.seytech {
    display: inline;
    padding-left: 10%;
    margin-top: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.signin {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 15px;
    margin-right: 10%;
    display: inline-block;
    background-color: dodgerblue;
    padding-left: 40%;
    border-radius: 5px;
    border: 0px;
    font-size: large;
    width: 80px;
    height: 40px;
    padding: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

/*Header and section4 style*/
header {
    text-align: center;
    position: relative;
    background-color: #343a40;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    margin-top: 0;
    background: var(--dark-color) url('https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-masthead.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 600px;
    color: #f4f4f4;
}

#showcase1 {
    margin-top: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 600px;
    color: #f4f4f4;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#showcase2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 60%;
}

.build {
    font-size: 45px;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
}

#showcase2 .email,
.signup {
    width: 100%;
    font-size: 15px;
    border-radius: 3px;
    border: solid 1px white;
    padding: 10px 20px;
}

.signup {
    width: 100%;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: solid 1px #007bff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
.signin:hover{
    background-color: #0067d4;
}

.signin:focus{
    border: 3px solid dodgerblue;
    box-shadow: 3px dodgerblue;
}

.signup:hover {
    background-color: #0067d4;
}

.signup:focus,
#showcase2 .email:focus {
    border: 3px solid dodgerblue;
    box-shadow: 3px dodgerblue;
}

/* section first */
.col {
    position: relative;
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

.section-first {
    padding-top: 7em;
    padding-bottom: 7em;
}

.section-first .icons-item {
    max-width: 20em;
    margin: 0 auto;
}

.section-first .icons-item .icons {
    height: 10em;
}

.section-first .icons-item .icons i {
    font-size: 6em;
    transition: transform 0.3s ease-in-out;
}

.section-first .icons-item:hover .icons i {
    transform: scale(1.2);
}

.op {
    font-size: 1.25em;
    font-weight: 300!important;
}

/* section second */ 
.gallery{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%
}
.left1 h2,
.left1 p, 
.right2 h2,
.right2 p,
.left3 h2,
.left3 p{
    color: #333;
    font-size: 1.5em;
    margin: 40px; 
    padding: 40px; 
}
.left1, .right2, .left3{
    height: 30em;
}
.right1{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-showcase-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.left2{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-showcase-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.right3{
    background-image: url(https://learn.seytech.co/assets/projects/html-css/projects/3-landing/img/bg-showcase-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* section third  */

.testimonials {
    padding-top: 7em;
    padding-bottom: 7em;
}

.font-weight-light {
    font-weight: 300!important;
}

.testimonials .testimonial-item img {
    max-width: 12em;
    box-shadow: 0 5px 5px 0 #adb5bd;
}

.rounded-circle {
    border-radius: 50% !important;
}

.icon-xl {
    font-size: 72px !important;
}

/* section fourth */
.showcase11 {
    background-image: url('https://www.kinesis.ie/gfx/layout/kinesis-screen-bg-masthead.jpg') ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 330px;
    color: #f4f4f4;
}

/* footer */
#href ul li {
    display: inline-flex;  
}

#href {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

#href a{
    color: #0067d4;
    text-decoration: none;
}

ul .nav {
    gap: 15px;
    width: 50%;
    display: flex;
}

.facebook img {
    max-width: 20px;
}

.facebook:hover{
    cursor: pointer;
}

.dot {
    color:#000;
}

footer .container {
    max-width: 1280px;
    margin: 0 auto;
}

.social-icons {
    font-size: 28px;
    display: flex;
    gap: 40px;
}

.fa-instagram:hover {
    color: #0d3e74;
}

.fa-facebook:hover {
    color:#0d3e74;
}

.fa-twitter:hover {
    color: #0d3e74;
}

.text {
    background-color: #ffffff;
    color: rgb(143, 122, 126);
    /* position: absolute;
    left: 10%; */
    width: 63%;
    font-size: 15px;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: -3px;
}



@media (min-width: 768px) and (max-width: 1024px) {
    /* nav and header, section4*/
    #showcase1, #showcase2, .signup, .email{
        width: 100%;
    }

    /* section1 and aection3 */
    .section-first .icons-item .icons i {
        height: auto;
    }

    .row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        width: 100%;
        margin-bottom: 1em;
    }

    .section-first .icons-item {
        max-width: 90%;
    }

    /* section2 */
    .gallery{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
    }
    
    .right1{
        order: 1;
        height: 500px;
    }
    .left1{
        order: 2;
        height: 500px;
    }  
    .left2{
        order: 3;
        height: 500px;
    }
    .right2{
        order: 4;
        height: 500px;
    }    
    .right3{
        order: 5;
        height: 500px;
    }
    .left3{
        order: 6;
        height: 500px;
    }

    /* footer */   
    ul .nav {
        margin-left: 10%;
    }

    .submit {
        width: 60%;
        padding: 1em;
    }

    #href {
        align-items: center;
    }

    .text {
        text-align: center;
    }
}


@media (min-width: 320px) and (max-width: 768px) {
    /* nav and header, section4 */
    #showcase2 {
        flex-direction: column;
    }
    .build,
    .email,
    .signup {
        width: 100%; 
    }

    /* scetion1 and section3 */
    .row {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .col {
        width: 100%;
        margin-bottom: 1em;
    }

    .section-first .icons-item {
        max-width: 97%;
    }

    .section-first .icons-item .icons {
        height: auto;
    }

    /* section2 */
    .gallery{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
    }
    
    .right1{
        order: 1;
        height: 500px;
    }
    .left1{
        order: 2;
        height: 500px;
    }  
    .left2{
        order: 3;
        height: 500px;
    }
    .right2{
        order: 4;
        height: 500px;
    }    
    .right3{
        order: 5;
        height: 500px;
    }
    .left3{
        order: 6;
        height: 500px;
    }

    /* footer */

    footer {
        flex-direction: column;
    }

    ul .nav {
        padding: 0;
        width: 100% !important;
        font-size: 14px;
        max-width: 95%;
        margin: 0 8em;
        /* margin-left: 80px; */
    }

    .social-icons {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    #href {
        align-items: center;
    }
  
    .text {
        width: 75%;
        max-width: 75%;
        margin-left: 113px;
        margin-right: auto;
        margin-top: -70px;
        margin-bottom: 0;
    }
}
